* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head{
    display: grid;
    grid-template-rows: auto;
}

.encabezado{
    display: grid;
    grid-template-columns: auto auto;
    background-image: url(/Clase4/GitHub/wildervalencia.github.io/assets/Img/bannerHeader.jpg);
    padding: 0px 45px 0px 45px;
}

.Sesion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto;
    flex-flow: row wrap;
    margin: 0;
   /* background-image: url(/Proyectos/M1S3-20220718T163955Z-001/M1S3/flexbox-navbar/Img/head2.png);*/
   padding: 0px 45px 0px 45px;
 }

 .listado{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
 }

.navigation1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;

}
.navigation a {
    text-decoration: none;
    display: block;
    padding: 2em;
    color: #1565C0;
}

.encabezado a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    list-style: none;
}

.sepInfo{
        background-color: white;
        display: grid;
        grid-template-columns: 40% 50%;
        justify-items: center;
        height: 300px;
        align-items: center;
    }


    
#imgEstudiantes {
    grid-area: span;
    width: 200px;
    height: 200px;
}

#verVideo{
    width: 560px;
    height: 315px;
}
.botones{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.info p{
    padding: 2%;
    color:  #1565C0;
    justify-items: start;
    text-align:justify;
}

.btnInscripcion{
    margin-left: 20%;
    margin-top: 5%;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color:black;
    font-size: x-large;
    background-color: rgb(255, 136, 0);
}


.grid-container { 
    padding-top: 4%;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 30% 20% 30%;
    padding-bottom: 25px;
    justify-content: center; /*ajusta justo y necesario al contenido*/
    gap:20px;

}

.tarjetas{
    padding: 2%;
    text-align: center;
    background-color: rgb(248, 234, 234);
    border-width: 9px;
    border-style: dotted;
    border-color: rgba(164,97,36,0.3);
    border-radius: 15px 25px 40px 40px;
    
    gap: 20px;
    
}

.input{
    margin-left: 2%;
    padding-left: 3%;
    text-align: start;
    align-items: center;
    border-width: 9px;
    border: 1px solid;
    width: 90%;
    height: 30px;
    background-color: azure;
}

.input h3{
padding: 1%;
}
.borde{
    border-bottom: 1px solid;
    border-color: black;
    height: 70px;

}
.Politica{
    font-size: small;
}

.btnEnviar{
    width: 70%;
    height: 35px;
    border-radius: 30px;
    color:white;
    font-size:medium;
    background-color:  #1565C0;
}

.materias{
    display: flex;
    flex-direction: row;
}

.materias img{
    width: 20px;
}

.video{
    padding: 20px 0px 20px 0px;
    background-color: #004A9B;
    text-align: center;
}

.grid-footer{
    justify-content: center;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding-top: 3%;
    padding-bottom: 1%;

}

.grid-imgFooter{
    text-align: center;
    gap: 20px;
    
}

.textfooter{
    color: #004a9b;
    text-align: start;
}

.grid-boxInfo{
    display: grid;
    grid-template-columns: 20% 80%;
}

#imgEstuFooter{
    grid-area: span;
    width: 40px;
    height: 40px;
}

.grid-boxInfoCel{
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 10px;
}

.redes{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  
}
#imgPagoFooter{
    grid-area: span;
    width: 90%;
    margin-top: 45px;
    align-items: center;
}

.textfooter1{
    color: #004a9b;
    text-align:start;
}
/*
*/
.btnTarjetaTres{
    margin-top: 85px; 
}
.btnTarjetados{
    margin-top: 55px;
}

.btnTarjetados{
    margin-top: 55px;
}


/*  ++++++++++++++++ RESPONSIVE ++++++++++++++++++++++++ */
@media screen and (max-width: 1280px) {
    .btnTarjetaTres{
        margin-top: 67px;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
@media screen and (max-width: 1190px) {
    .btnTarjetaTres{
        margin-top: 60px;
    }
    .btnTarjetados{
        margin-top: 50px;
    } 
}

@media screen and (max-width: 1183px) {
    .btnTarjetaTres{
        margin-top: 60px;
    }
    .btnTarjetados{
        margin-top: 66px;
    } 
}
@media screen and (max-width: 1082px) {
    .btnTarjetaTres{
        margin-top: 82px;
    }
    .btnTarjetados{
        margin-top: 92px;
    } 
}


@media screen and (max-width: 1035px) {
    .btnTarjetaTres{
        margin-top: 60px;
    }
   
}

@media screen and (max-width: 1029px) {
    .btnTarjetaTres{
        margin-top: 35px;
    }
   
}

@media screen and (max-width: 1001px) {
    .btnEnviar{
        width: 77%;
    }
   
}

@media screen and (max-width: 962px) {
    .btnTarjetaUno{
        margin-top: 0px;
    }
    .btnTarjetaTres{
        margin-top: 47px;
    }
    .btnTarjetados{
        margin-top: 106px;
    }
}

@media screen and (max-width: 982px) {
    #imgEstudiantes{
        width: 140px;
        height: 140px;
    }
}


@media screen and (max-width: 811px) {
    .grid-container { 
        padding: 7% 7% 7% 7%;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        justify-content: center; /*ajusta justo y necesario al contenido*/
        gap:20px;
    }
    .grid-footer{
        justify-content: start;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        padding-top: 3%;
    }
    .textfooter{
        color: #004a9b;
        text-align: center;
    }
    
    #imgPagoFooter{
        grid-area: span;
        width: 50%;
        margin-top: 15px;
        align-items: center;
    }
}

@media screen and (max-width: 765px) {
    .grid-container { 
        padding: 7% 7% 7% 7%;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        justify-content: center; /*ajusta justo y necesario al contenido*/
        gap:20px;
    }
 
    #verVideo{
        width: 360px;
        height: 215px;
    }
    .sepInfo{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 370px;
        align-items: center;
    }
    
    .info{
       
        justify-content: center;
        width: 80%;
    }
    .info p{
        padding: 2%;
        color:  #1565C0;
        text-align:justify;
        
    }
    .botones{
        justify-content:space-around;
    }
    
}


@media screen and (max-width: 600px) {
  .sepInfo{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        
        align-items: center;
    }

}


@media screen and (max-width: 514px) {
    .sepInfo{
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-items: center;
          height: 400px;
          align-items: center;
      }
      .imagen{
        display: none;
      }
  
  }

  @media screen and (max-width: 460px) {
    .listado {
        display: flex;
        flex-direction: column;
       /* background-image: url(/Proyectos/M1S3-20220718T163955Z-001/M1S3/flexbox-navbar/Img/head2.png);*/
       padding: 0px 45px 0px 45px;
       justify-content: center;
     }
    .sepInfo{
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-items: center;
          height: 480px;
          align-items: center;
      }
      .imagen{
        display: none;
      }
      .botones{
        display: flex;
        flex-direction: column;

      }
  }

  
  @media screen and (max-width: 420px) {
    .listado {
        display: flex;
        flex-direction: column;
       /* background-image: url(/Proyectos/M1S3-20220718T163955Z-001/M1S3/flexbox-navbar/Img/head2.png);*/
       padding: 0px 45px 0px 45px;
       justify-content: center;
     }
    .sepInfo{
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-items: center;
          height: 500px;
          align-items: center;
      }
      .imagen{
        display: none;
      }
      .botones{
        display: flex;
        flex-direction: column;

      }
  }

  
  @media screen and (max-width: 387px) {
    .listado {
        display: flex;
        flex-direction: column;
       /* background-image: url(/Proyectos/M1S3-20220718T163955Z-001/M1S3/flexbox-navbar/Img/head2.png);*/
       padding: 0px 45px 0px 45px;
       justify-content: center;
     }
    .sepInfo{
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-items: center;
          height: 510px;
          align-items: center;
      }
      .imagen{
        display: none;
      }
      .botones{
        display: flex;
        flex-direction: column;

      }
      .btnInscripcion{
        font-size: medium;
        width: 172px;
        height: 40px;
      }
  }